<div class="container">
  <h3>Cuentas</h3>
  <mat-table #table [dataSource]="dataSource" class="table-saldos"
    matSort matSortActive="created" matSortDisableClear>
    
    <mat-header-row *matHeaderRowDef="displayedColumns" class="blue"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef><h5>Cuenta</h5></mat-header-cell>
        <mat-cell *matCellDef="let row of cuentas">{{ row.numero }}</mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="saldo">
        <mat-header-cell *matHeaderCellDef><h5>Saldo</h5></mat-header-cell>
        <mat-cell *matCellDef="let row of cuentas">{{ row.saldo }}</mat-cell>
      </ng-container>
  </mat-table>
</div>