/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colores.scss";

* {font-family: sans-serif;}
body {margin: 0; padding: 0}
a {color: black; font-size: 1em;}
a:hover { text-decoration: none; color: black;}
*.dark-grey {background-color: $dark-grey;}
*.grey {background-color: $grey;}
*.blue {background-color: $blue;}
.contenedor {margin: 20px auto; width: 80%;}
.center{text-align: center;}
*.btn{
    background-color: $dark-grey;
    border: none;
    color: $grey;
}
h4{color: darkblue; font-weight : bold;}
button.btn:hover {cursor: pointer}
input {
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: 2px solid $dark-grey;
}
input:focus {outline: none;}

mat-table{
    width : 100%;
    mat-header-cell, mat-cell { text-align: center; }
    mat-header-row { 
        background: $grey; 
        border-bottom: 1px stripped $blue;
        mat-header-cell {
            color : $dark-grey !important;
            font-weight: bold !important;
            font-size: 1.1em !important;
        }
    }
}
footer {border-top: 3px solid $blue;}