<nav class="navbar navbar-expand-sm grey">
    <a class="navbar-brand ml-0" href="#">
      <img src="./assets/logo.png" width="70px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false">
      <span class="navbar-toggler-icon">
        <i class="material-icons">menu</i>
      </span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar" *ngIf="!sesion && !admin">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active" *ngFor="let element of elementos">
          <a class="nav-link" routerLink={{element.link}}> {{element.name}} </a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn" routerLink="registro">Hazte cliente</button>
        </li>
        <li class="nav-item dropdown">
          <button class="btn nav-link" data-toggle="dropdown" aria-haspopup="true">
            Acceso clientes
          </button>
          <div class="dropdown-menu grey">
            <form method="post" #formulario="ngForm" (ngSubmit)="autenticar()" fxLayout="column">
              <input placeholder="Usuario" name="dni" [(ngModel)]="login.dni" required matInput>
              <input type="password" placeholder="PIN" #pin="ngModel" maxlength="4" name="pin" [(ngModel)]="login.pin" required/>
              <br/>
              <div class="alert alert-danger" role="alert" *ngIf="error">Usuario incorrecto</div>
              <input type="submit" class="btn" value="Entrar"/>
            </form>
          </div>
        </li>
      </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbar" *ngIf="sesion && !admin">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active" *ngFor="let element of elementos">
          <a class="nav-link" routerLink={{element.link}}> {{element.name}} </a>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" (click)="logout()">
            Salir
          </button>
        </li>
      </ul>
    </div>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>