<div class="contenedor" fxLayoutAlign="center" fxLayout="column">
  <h3>Hazte Cliente</h3>
  <form [formGroup]="form" ngNativeValidate (ngSubmit)="registrar()">
      <div class="row">
          <div class="form-group col-lg-6 col-sm-12">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" maxlength="50" required
               matInput [(ngModel)]="usuario.nombre" name="nombre" formControlName="nombre">
              <small *ngIf="nombre.invalid && nombre.touched">El nombre es obligatorio</small>
          </div>
          <div class="form-group col-lg-6 col-sm-12">
              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" maxlength="50" required
               matInput [(ngModel)]="usuario.apellidos" name="apellidos" formControlName="apellidos">
              <small *ngIf="apellidos.invalid && apellidos.touched">Los apellidos son obligatorios</small>
          </div>
      </div>

      <div class="row">
          <div class="form-group" class="col-lg-6 col-sm-12">
              <label for="dni">DNI</label>
              <input type="text" class="form-control" id="dni" maxlength="9" required
               matInput [(ngModel)]="usuario.dni" name="dni" formControlName="dni">
              <small *ngIf="dni.invalid && dni.touched">Formato incorrecto. (00000000A)</small>
          </div>

          <div class="col-lg-6 col-sm-12">
              <label for="telefono">Teléfono</label>
              <input type="tel" class="form-control" id="importe" maxlength="9" required
                 matInput [(ngModel)]="usuario.telefono" name="telefono" formControlName="telefono">
              <small *ngIf="telefono.invalid && telefono.touched">El teléfono es obligatorio</small>
          </div> 
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" 
            name="email" formControlName="email" required>
          <small *ngIf="email.invalid && email.touched">El email es obligatorio</small>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-3 pb-3">
          <mat-checkbox color="primary" name="check" required id="check"
          [checked]="isAcept()">
            Acepto los 
            <span (click)="openTerminos()">términos y condiciones de uso</span>
          </mat-checkbox>
          <small *ngIf="check.invalid && check.touched">Debe aceptar los términos y condiciones de uso</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" fxLayoutAlign="end">
        Registrar
      </button>
  </form>
</div>
