<div class="contenedor" fxLayoutAlign="center" fxLayout="column">
    <h3>Transferencia</h3>
    <form>
        <div class="row">
            <div class="form-group col-6">
                <label>Origen</label>
                <mat-select class="form-control" [value]="transferencia.cuentaEmisora">
                    <mat-option *ngFor="let cuenta of cuentasUsuario">
                        {{cuenta.numero}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="form-group col-6">
                <label for="cuenta">IBAN</label>
                <input type="text" class="form-control" 
                        id="cuenta" aria-describedby="emailHelp" 
                        maxlength="20" required matInput
                        [(ngModel)]="transferencia.movimiento.cuenta"
                        value="ES">
                <small id="emailHelp" class="form-text text-muted">Introduce el IBAN sin espacios.</small>
            </div>
        </div>

        <div class="row">
            <div class="form-group" class="col-8">
                <label for="concepto">Concepto</label>
                <input type="text" class="form-control" id="concepto" [(ngModel)]="transferencia.movimiento.concepto">
            </div>

            <div class="col-4">
                <label for="importe">Importe</label>
                <div class="form-group input-group">
                    <input type="number" class="form-control" id="importe" [(ngModel)]="transferencia.movimiento.movimiento">
                    <div class="input-group-append" fxLayoutAlign="end">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
            </div> 
        </div>

        <mat-checkbox color="primary" id="check"></mat-checkbox>
        <label class="form-check-label" for="check">Acepto el envío de datos</label>
        <button type="submit" class="btn btn-primary" fxLayoutAlign="end">Enviar</button>
    </form>
</div>