<div id="content" fxLayout="column" fxLayoutAlign="center start">
<h2 mat-dialog-title>Detalles del movimiento</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-12">
            Origen
            <input matInput disabled class="form-control"
                   [value]="data.cuentaEmisora != null ? data.cuentaEmisora.numero : 'Hlanz Bank'">
        </div>
        <div class="col-lg-6 col-12">
            Receptor
            <input matInput disabled class="form-control"
            [value]="data.cuentaReceptora.numero">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12">
            <h6>Fecha de operación</h6>
            <input matInput disabled class="form-control"
            [value]="data.fecha | date : 'dd-MM-yyyy' ">
        </div>
        <div class="col-lg-4 col-12">
            Concepto
            <input matInput disabled class="form-control"
                   [value]="data.concepto">
        </div>
        <div class="col-lg-4 col-12">
            Importe
            <input matInput [value]="data.movimiento" disabled class="form-control">
        </div>
    </div>
 
</mat-dialog-content>
</div>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary btn"(click)="save()">Guardar justificante</button>
    <button class="mat-raised-button"(click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>