<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="./assets/slide1.jpg" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<div class="contenedor">
  <h3 class="center">Novedades</h3>
  <div class="row" fxLayout="row">
    <div class="col-md-4 col-sm-10" *ngFor="let noticia of noticias" fxFlex>
      <div class="card">
        <img class="card-img-top" src={{noticia.imagen}}>
        <div class="card-body">
          <h5 class="card-title">{{noticia.titulo}}</h5>
          <p class="card-text">{{noticia.body.slice(0,55)}}...</p>
          <a href="#" class="btn btn-primary" routerLink="/info/{{noticia.id}}">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>