<div class="contenedor">
  <h3>Panel de administración</h3>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <mat-tab-group>
      <mat-tab label="Usuarios">
        <ng-template mat-tab-label>
          <h5>
            <i class="material-icons">account_circle</i>
            Usuarios
          </h5>
        </ng-template>
        <div class="row pt-2">
          <div class="col-lg-6 col-12">
            <input type="text" name="searchUsuario" placeholder="Buscar" 
              width="100%" class="form-control mt-3 mb-3" [(ngModel)]="buscaU">
          
            <mat-accordion *ngIf="usuarios.length>0">
              <mat-expansion-panel *ngFor="let usuario of usuarios | busca : buscaU" 
              (click)="modificarObj(usuario)" [expanded]="false"
              class="ml-auto mr-auto">
                <mat-expansion-panel-header>
                  <span class="badge badge-info"> {{usuario.idUsuario}} </span> {{usuario.nombre}} {{usuario.apellidos}}
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <h5>Ingreso</h5>
                  <form (ngSubmit)="ingreso()">
                    <mat-select class="form-control" [(ngModel)]="transferencia.cuentaReceptora.numero" name="idCuenta"
                    placeholder="Cuenta">
                      <div *ngFor="let cuenta of cuentas">
                        <mat-option *ngIf="cuenta.propietario.idUsuario == usuario.idUsuario" [value]="cuenta.numero">
                            {{cuenta.numero}}
                        </mat-option>
                      </div>
                    </mat-select>
                    <input matInput placeholder="Concepto" class="form-control mb-1" value="Ingreso en efectivo" 
                    [(ngModel)]="transferencia.concepto" name="concepto">
                    <input type="number" matInput placeholder="Importe" class="form-control mb-1" name="movimiento" [(ngModel)]="transferencia.movimiento">
                    <button class="btn">Ingresar</button>
                  </form>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>

            <ul *ngIf="usuarios.length==0">
              <li>
                No hay usuarios para mostrar
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-12">
            <form fxLayout="column" ngNativeValidate>
              <label>Nombre</label>
                <input matInput type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control" required>
              <label>Apellidos</label>
                <input type="text" class="form-control" matInput [(ngModel)]="usuario.apellidos" name="apellidos" required>
              <label>DNI</label>
                  <input type="text" class="form-control" matInput [(ngModel)]="usuario.dni" name="dni" required pattern="([0-9]{8})([A-Z]{1})">
              <label>Teléfono</label>
                <input type="tel" class="form-control" [(ngModel)]="usuario.telefono" name="telefono" required>
              <label>Email</label>
                <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" required>
              <div class="pt-3 pb-3 botones">
                <button class="btn" type="submit" (click)="enviar(usuario)">{{modificar == true ? 'Modificar' : 'Crear' }}</button>
                <span class="badge badge-warning ml-auto" (click)="limpiar()" *ngIf="modificar">
                  <i class="material-icons">delete_sweep</i>
                </span>
              </div>
            </form>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <h5>
            <i class="material-icons">info</i>
            Noticias
          </h5>
        </ng-template>

        <div class="row pt-2">
            <div class="col-lg-6 col-12">
              <input type="text" name="searchUsuario" placeholder="Buscar" 
              width="100%" class="form-control mt-3 mb-3" [(ngModel)]="buscaN">
              <ul *ngIf="noticias.length>0">
                <li *ngFor="let noticia of noticias | busca : buscaN" (click)="modificarObj(noticia)" >
                  <span class="badge badge-info">{{noticia.id}}</span> {{noticia.titulo}}
                </li>
              </ul>
              <ul *ngIf="noticias.length==0">
                <li>
                    No hay noticias para mostrar
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-12">
              <form fxLayout="column" ngNativeValidate>
                <label>Título</label>
                  <input matInput type="text" [(ngModel)]="noticia.titulo" name="titulo" class="form-control" required>
                <label>Mensaje</label>
                  <textarea [(ngModel)]="noticia.body" name="body" required></textarea>
                  <!-- <input type="text" class="form-control" matInput [(ngModel)]="noticia.body" name="body"> -->
                <label>Imagen</label>
                  <input type="file" accept="image" matInput [(ngModel)]="noticia.imagen" required name="imagen">
                <div class="pt-3 pb-3 botones">
                    <button class="btn" type="submit" (click)="enviar(noticia)">{{modificar == true ? 'Modificar' : 'Crear' }}</button>
                    <span class="badge badge-warning ml-auto" (click)="limpiar()" *ngIf="modificar">
                      <i class="material-icons">delete_sweep</i>
                    </span>
                </div>
              </form>
            </div>
          </div>
      </mat-tab>
  </mat-tab-group>
</div>
