<div class="container">
  <h4>Saldos</h4>
  <table td-data-table>
      <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column *ngFor="let column of displayedColumns">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr td-data-table-row *ngFor="let row of cuentas" (click)="movimientos(row)">
          <td td-data-table-cell>
            {{row.numero}}
          </td>
          <td td-data-table-cell>
            {{row.saldo}}€
          </td>
        </tr>
        <tr class="total">
          <td>Total</td>
          <td>{{total}}€</td>
        </tr>
      </tbody>
    </table>
</div>
