i {
  vertical-align: middle;
}
li {
  padding : 15px;
  border-bottom: 1px solid #333333;
}
li:hover {
  cursor :pointer;
}
:host /deep/ .form-control {
  width: 100%;
}

:host /deep/ .mat-tab-body-content {
  overflow: hidden;
}