<div class="contenedor">
  <h3>Panel de administración</h3>
  <mat-tab-group>
      <mat-tab label="Usuarios">
      <ng-template mat-tab-label>
        <h5>
          <i class="material-icons">account_circle</i>
          Usuarios
        </h5>
      </ng-template>
        Content 1
      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <i class="material-icons">info</i>
          Noticias
        </ng-template>
        Content 2
      </mat-tab>
  </mat-tab-group>
</div>
