<footer class="dark-grey">
  <div class="contenedor" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <section fxFlex="33" fxFlex.xs="80" fxFlex.sm="80">
      <h5>Sobre Nosotros</h5>
      <ul>
        <li></li>
        <li>Política de privacidad</li>
        <li>Contacto</li>
      </ul>
    </section>
    <section fxFlex="33" fxFlex.xs="80" fxFlex.sm="80">
      <h5>Encuéntranos</h5>
    </section>
    <section fxFlex="33" fxFlex.xs="80" fxFlex.sm="80">
      <h5 class="bold">Síguenos</h5>
      <ul>
        <li>
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i> Hlanz Bank</a>
        </li>
        <li>
            <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i> Hlanz Bank</a>
        </li>
        <li>
          <a href="https://www.twitter.com"><i class="fab fa-twitter"></i> @hlanz_bank</a>
        </li>
      </ul>
    </section>
  </div>
</footer>
