<nav class="navbar navbar-expand-md grey">
    <a class="navbar-brand ml-0" href="#">
      <img src="./assets/logo.png" width="70px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="material-icons">menu</i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home"> Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Cuentas y tarjetas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Créditos </a>
        </li>
        <li class="nav-item dropdown">
          <button class="btn nav-link" data-toggle="dropdown" aria-haspopup="true">
            Acceso clientes
          </button>
          <div class="dropdown-menu grey">
            <form class="form-group">
              <input type="text" placeholder="Usuario" [(ngModel)]="usuario.user" name="user">
              <br/>
              <input type="password" placeholder="PIN" maxlength="4" [(ngModel)]="usuario.pass" name="pass"/>
              <br/>
              <input type="submit" class="btn" value="Entrar" />
            </form>
          </div>
        </li>
      </ul>
    </div>
</nav>