<div class="contenedor" fxLayoutAlign="center" fxLayout="column">
  <h4>Modifica tus datos</h4>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <form fxLayout="column" (ngSubmit)="modificarUsuario()" fxFlex=50>
    <label>Nombre</label>
      <input matInput type="text" [(ngModel)]="usuario.nombre" name="nombre" disabled class="form-control">
    <label>Apellidos</label>
      <input type="text" class="form-control" matInput [(ngModel)]="usuario.apellidos" name="apellidos" disabled>
    <label>DNI</label>
        <input type="text" class="form-control" matInput [(ngModel)]="usuario.dni" name="dni" disabled>
    <label>Teléfono</label>
      <input type="tel" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
    <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email">
    <div class="pt-3 pb-3">
      <button class="btn" type="submit" >Modificar</button>
    </div>
  </form>
</div>
