/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colores.scss";

* {font-family: sans-serif;}
body {margin: 0; padding: 0}
a {color: black; font-size: 1em;}
a:hover { text-decoration: none; color: black;}
*.dark-grey {background-color: $dark-grey;}
*.grey {background-color: $grey;}
*.blue {background-color: $blue;}
.container {margin: 20px auto;}
.center{text-align: center;}
*.btn{
    background-color: $dark-grey;
    border: none;
    color: $grey;
}
button.btn:hover {cursor: pointer}
input {
    background-color: transparent;
    padding: 5px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid $dark-grey;
}
input:focus {outline: none;}
footer {border-top: 3px solid $blue;}