div.dropdown-menu.show {
    padding: 10px;
    form {
        margin: 0 auto;
    }
}


@media screen and (max-width: 768px){
    div.dropdown-menu.show {
        top: 5px !important;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}