<nav class="navbar navbar-expand-md grey plr-20">
  <div class="container">
  <a class="navbar-brand ml-0" href="#">
    <img src="./assets/logo.png" width="70px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="material-icons">menu</i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Cuentas y tarjetas </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Hipotecas y préstamos </a>
      </li>
      <li class="nav-item dropdown">
        <button class="btn nav-link dropdown-toggle ml-auto" data-toggle="dropdown" aria-haspopup="true">
          <span fxHide.md fxShow.lg>Acceso clientes</span>
          <span fxHide.lg fxShow.md>
            <i class="material-icons">account_circle</i>
          </span>
        </button>
        <div class="dropdown-menu grey">
          <form class="form-group">
            <input type="text" placeholder="Usuario" />
            <br/>
            <input type="password" placeholder="PIN" />
            <br/>
            <input type="submit" class="btn" value="Entrar" />
          </form>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>